# MongoDB Atlas connection string
# Thay YOUR_USERNAME, YOUR_PASSWORD, YOUR_CLUSTER bằng thông tin của bạn
MONGODB_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@YOUR_CLUSTER.mongodb.net/invoice_db?retryWrites=true&w=majority

# App URL (thay đổi khi deploy lên Vercel)
NEXT_PUBLIC_APP_URL=http://localhost:3000
